@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Work+Sans&display=swap');

* {
    font-family: 'Afacad', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

nav ul li {
  margin: 10px;
}
.newsletter {
  padding: 100px 40px;
  text-align: center;
  background-color: #4b4b4bb0;
  color: white;
}
.newsletter button{
  color: black;
  height: 40px;
}
.newsletter input {
  height: 40px;
  border-radius: 5px;
  border: none;
  width: 250px;
}

#footer {
    background-color: #f0f0f0;
    padding: 20px 0;
}

#footer ul li a {
  color: black;
  text-decoration: none;
}
#footer ul li a:hover {
  color: #41e9ff;
  text-decoration: none;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Espaçamento entre as seções do footer */
    margin-bottom: 20px; /* Espaçamento abaixo das seções do footer */
}

.footer-menu {
    list-style-type: none;
    padding: 0;
}

.footer-menu-item {
    margin-bottom: 8px;
}

@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
        margin-right: 0;
    }
}
p {
  font-size: 12px;
}

h1 span {
  font-size: 30px;
}

.row .col-lg-12 {
  font-size: 18px;
}
